In [1]:
# importation des modules

import pandas as pd
import numpy as np

# Importation du fichier source

source = "HDR 2007-2008 Table 05.xlsx"
df = pd.read_excel(source)


# Affichage des 12 premiÃ¨res lignes
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,.. to lead a long and healthy life â€¦,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5 Demographic trends,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HDI rank,NaN,NaN,Total population ...,NaN,NaN,NaN,NaN,NaN,Annual population growth rate ...,...,NaN,NaN,Population aged 65 and older\n(% of total),NaN,NaN,NaN,Total fertility rate\n(births per woman),NaN,NaN,NaN
11,NaN,NaN,NaN,1975,NaN,2005,NaN,2015b,NaN,1975-2005,...,2015b,NaN,2005,NaN,2015b,NaN,1970-75c,NaN,2000-05c,NaN

In [2]:

# La ligne des variables commence probabelement Ã  la ligne 10
# Repositionner la ligne d'en-tÃªte
df = pd.read_excel(source, header=10)

# Supprimez toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)

# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)

# Affichons les 5 premiÃ¨res lignes
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 12,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,Unnamed: 25,Unnamed: 27,Unnamed: 29
0,HDI rank,NaN,Total population ...,NaN,NaN,NaN,NaN,NaN,Annual population growth rate ...,NaN,...,NaN,Urban populationa ...,NaN,NaN,Population under age 15 \n ...,NaN,Population aged 65 and older\n(% of total),NaN,Total fertility rate\n(births per woman),NaN
1,NaN,NaN,1975,NaN,2005,NaN,2015b,NaN,1975-2005,NaN,...,NaN,1975,2005.0,2015b,2005,2015b,2005,2015b,1970-75c,2000-05c
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,0.2,NaN,0.3,NaN,0.3,NaN,1.0,NaN,...,NaN,86.7,92.8,93.6,22.1,20.0,11.7,14.2,2.8,2.0
4,2,Norway,4.0,NaN,4.6,NaN,4.9,NaN,0.5,NaN,...,NaN,68.2,77.4,78.6,19.6,17.7,14.7,17.0,2.2,1.8

In [3]:
# Determinons les noms des diffÃ©rentes variables dans les colonnes 
columns = []
for c in df.columns:
    # Pour chaque colonne obtenir les valeurs des 2 premiÃ¨res lignes
    columns.append([str(v)  for v in df[c][:2] if pd.notnull(v)])
columns

[['HDI rank'],
 [],
 ['Total population                                                                           (millions)',
  '1975'],
 [],
 ['2005'],
 [],
 ['2015b'],
 [],
 ['Annual population growth rate                                                                                         (%)',
  '1975-2005'],
 [],
 ['2005-15b'],
 [],
 ['Urban populationa                                   (% of total)', '1975'],
 ['2005.0'],
 ['2015b'],
 ['Population under age 15                  \n   (% of total)', '2005'],
 ['2015b'],
 ['Population aged 65 and older\n(% of total)', '2005'],
 ['2015b'],
 ['Total fertility rate\n(births per woman)', '1970-75c'],
 ['2000-05c']]

In [4]:
# Nommons les colonnes
columns = [
    "HDI rank",
    "Country",
    "Total population(millions) 1975",
    "Reference 1",
    "Total population(millions) 2005",
    "Reference 2",
    "Total population(millions) 2015b",
    "Reference 3",
    "Annual population growth rate(%) 1975-2005",
    "Reference 4",
    "Annual population growth rate(%) 2005-15b",
    "Reference 5",
    "Urban population a (% of total) 1975",
    "Urban population a (% of total) 2005",
    "Urban population a (% of total) 2015b",
    "Population under age 15(% of total) 2005",
    "Population under age 15(% of total) 2015b",
    "Population aged 65 and older(% of total) 2005",
    "Population aged 65 and older(% of total) 2015b",
    "Total fertility rate(births per woman) 1970-75c",
    "Total fertility rate(births per woman) 2000-05c"    
]

# RÃ©initialiser les colonnes des cadres de donnÃ©es
df.columns = columns

# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et rÃ©initialiser l'index
df = df.drop(np.arange(2), axis=0).reset_index(drop=True)
df.head()

,HDI rank,Country,Total population(millions) 1975,Reference 1,Total population(millions) 2005,Reference 2,Total population(millions) 2015b,Reference 3,Annual population growth rate(%) 1975-2005,Reference 4,...,Reference 5,Urban population a (% of total) 1975,Urban population a (% of total) 2005,Urban population a (% of total) 2015b,Population under age 15(% of total) 2005,Population under age 15(% of total) 2015b,Population aged 65 and older(% of total) 2005,Population aged 65 and older(% of total) 2015b,Total fertility rate(births per woman) 1970-75c,Total fertility rate(births per woman) 2000-05c
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,0.2,NaN,0.3,NaN,0.3,NaN,1.0,NaN,...,NaN,86.7,92.8,93.6,22.1,20.0,11.7,14.2,2.8,2.0
2,2,Norway,4.0,NaN,4.6,NaN,4.9,NaN,0.5,NaN,...,NaN,68.2,77.4,78.6,19.6,17.7,14.7,17.0,2.2,1.8
3,3,Australia,13.6,NaN,20.3,NaN,22.4,NaN,1.3,NaN,...,NaN,85.9,88.2,89.9,19.5,17.9,13.1,16.1,2.5,1.8
4,4,Canada,23.1,NaN,32.3,NaN,35.2,NaN,1.1,NaN,...,NaN,75.6,80.1,81.4,17.6,15.6,13.1,16.1,2.0,1.5

In [5]:
# verifions les derniÃ¨res lignes de notre fichier
df.tail(30)

,HDI rank,Country,Total population(millions) 1975,Reference 1,Total population(millions) 2005,Reference 2,Total population(millions) 2015b,Reference 3,Annual population growth rate(%) 1975-2005,Reference 4,...,Reference 5,Urban population a (% of total) 1975,Urban population a (% of total) 2005,Urban population a (% of total) 2015b,Population under age 15(% of total) 2005,Population under age 15(% of total) 2015b,Population aged 65 and older(% of total) 2005,Population aged 65 and older(% of total) 2015b,Total fertility rate(births per woman) 1970-75c,Total fertility rate(births per woman) 2000-05c
171,169,Ethiopia,34.2,NaN,79.0,NaN,101.0,NaN,2.8,NaN,...,NaN,9.5,16.0,19.1,44.5,41.0,2.9,3.1,6.8,5.8
172,170,Chad,4.2,NaN,10.1,NaN,13.4,NaN,3.0,NaN,...,NaN,15.6,25.3,30.5,46.2,45.2,3.0,2.8,6.6,6.5
173,171,Central African Republic,2.1,NaN,4.2,NaN,5.0,NaN,2.4,NaN,...,NaN,32.0,38.0,40.4,42.7,39.9,3.9,3.7,5.7,5.0
174,172,Mozambique,10.6,NaN,20.5,NaN,24.7,NaN,2.2,NaN,...,NaN,8.7,34.5,42.4,44.2,43.2,3.2,3.4,6.6,5.5
175,173,Mali,5.4,NaN,11.6,NaN,15.7,NaN,2.5,NaN,...,NaN,16.2,30.5,36.5,47.7,46.4,3.6,3.0,7.6,6.7
176,174,Niger,4.9,NaN,13.3,NaN,18.8,NaN,3.3,NaN,...,NaN,11.4,16.8,19.3,48.0,47.3,3.1,3.4,8.1,7.4
177,175,Guinea-Bissau,0.7,NaN,1.6,NaN,2.2,NaN,3.0,NaN,...,NaN,16.0,29.6,31.1,47.4,47.9,3.0,2.7,7.1,7.1
178,176,Burkina Faso,6.1,NaN,13.9,NaN,18.5,NaN,2.8,NaN,...,NaN,6.4,18.3,22.8,46.2,44.2,3.1,2.6,7.8,6.4
179,177,Sierra Leone,2.94455,NaN,5.6,NaN,6.9,NaN,2.1,NaN,...,NaN,21.2,40.7,48.2,42.8,42.8,3.3,3.3,6.5,6.5
180,Developing countries,NaN,"2,972.0",T,"5,215.0",T,"5,956.6",T,1.9,NaN,...,NaN,26.5,42.7,47.9,30.9,28.0,5.5,6.4,5.4,2.9
181,Least developed countries,NaN,357.6,T,765.7,T,965.2,T,2.5,NaN,...,NaN,14.8,26.7,31.6,41.5,39.3,3.3,3.5,6.6,4.9
182,Arab States,NaN,144.4,T,313.9,T,380.4,T,2.6,NaN,...,NaN,41.8,55.1,58.8,35.2,32.1,3.9,4.4,6.7,3.6
183,East Asia and the Pacific,NaN,"1,312.3",T,"1,960.6",T,"2,111.2",T,1.3,NaN,...,NaN,20.5,42.8,51.1,23.8,20.6,7.1,8.8,5.0,1.9
184,Latin America and the Caribbean,NaN,323.9,T,556.6,T,626.5,T,1.8,NaN,...,NaN,61.1,77.3,80.6,29.8,26.3,6.3,7.7,5.0,2.5
185,South Asia,NaN,835.4,T,"1,587.4",T,"1,842.2",T,2.1,NaN,...,NaN,21.2,30.2,33.8,33.6,29.5,4.7,5.4,5.5,3.2
186,Sub-Saharan Africa,NaN,314.1,T,722.7,T,913.2,T,2.8,NaN,...,NaN,21.2,34.9,39.6,43.6,41.7,3.1,3.2,6.8,5.5
187,Central and Eastern Europe and the CIS,NaN,366.6,T,405.2,T,398.6,T,0.3,NaN,...,NaN,57.7,63.2,63.9,18.1,17.4,12.8,12.9,2.5,1.5
188,OECD,NaN,928.0,T,"1,172.6",T,"1,237.3",T,0.8,NaN,...,NaN,66.9,75.6,78.2,19.4,17.8,13.8,16.1,2.6,1.7
189,High-income OECD,NaN,766.8,T,931.5,T,976.6,T,0.6,NaN,...,NaN,69.3,77.0,79.4,17.6,16.5,15.3,18.0,2.2,1.7
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,High human development,NaN,"1,280.6",T,"1,658.7",T,"1,751.1",T,0.9,NaN,...,NaN,66.4,76.8,79.4,20.2,18.8,12.7,14.5,2.7,1.8
192,Medium human development,NaN,"2,514.9",T,"4,239.6",T,"4,759.8",T,1.7,NaN,...,NaN,23.8,39.3,44.9,29.3,26.0,5.8,6.8,5.3,2.6
193,Low human development,NaN,218.5,T,508.7,T,653.0,T,2.8,NaN,...,NaN,18.6,33.2,38.6,44.9,43.0,2.9,3.0,6.9,6.0
194,High income,NaN,793.3,T,991.5,T,"1,047.2",T,0.7,NaN,...,NaN,69.4,77.6,80,18.1,17.0,14.8,17.3,2.3,1.7
195,Middle income,NaN,"2,054.2",T,"3,084.7",T,"3,339.7",T,1.4,NaN,...,NaN,34.7,53.9,60.3,25.1,22.5,7.3,8.6,4.6,2.1
196,Low income,NaN,"1,218.0",T,"2,425.5",T,"2,894.7",T,2.3,NaN,...,NaN,20.5,30.0,34.2,36.6,33.3,4.2,4.7,5.9,3.8
197,World,NaN,"4,076.1",Te,"6,514.8",Te,"7,295.1",Te,1.6,NaN,...,NaN,37.2,48.6,52.8,28.3,26.0,7.3,8.3,4.5,2.6
198,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,a. Because data are based on national definiti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,SOURCES\nColumns 1â€“3 and 9â€“14: UN 2007e.\nColu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Supression des notes de bas de page
df = df.drop(np.arange(180,len(df)), axis=0).reset_index(drop=True)

,HDI rank,Country,Total population(millions) 1975,Reference 1,Total population(millions) 2005,Reference 2,Total population(millions) 2015b,Reference 3,Annual population growth rate(%) 1975-2005,Reference 4,...,Reference 5,Urban population a (% of total) 1975,Urban population a (% of total) 2005,Urban population a (% of total) 2015b,Population under age 15(% of total) 2005,Population under age 15(% of total) 2015b,Population aged 65 and older(% of total) 2005,Population aged 65 and older(% of total) 2015b,Total fertility rate(births per woman) 1970-75c,Total fertility rate(births per woman) 2000-05c
160,158,Nigeria,61.2,NaN,141.4,NaN,175.7,NaN,2.8,NaN,...,NaN,23.4,48.2,55.9,44.3,41.3,2.9,3.0,6.9,5.8
161,159,Tanzania (United Republic of),16.0,NaN,38.5,NaN,49.0,NaN,2.9,NaN,...,NaN,11.1,24.2,28.9,44.4,42.8,3.0,3.2,6.8,5.7
162,160,Guinea,4.0,NaN,9.0,NaN,11.4,NaN,2.7,NaN,...,NaN,19.5,33.0,38.1,43.4,41.5,3.1,3.4,7.0,5.8
163,161,Rwanda,4.4,NaN,9.2,NaN,12.1,NaN,2.5,NaN,...,NaN,4.0,19.3,28.7,43.5,43.7,2.5,2.2,8.3,6.0
164,162,Angola,6.8,NaN,16.1,NaN,21.2,NaN,2.9,NaN,...,NaN,19.1,53.3,59.7,46.4,45.3,2.4,2.4,7.2,6.8
165,163,Benin,3.2,NaN,8.5,NaN,11.3,NaN,3.2,NaN,...,NaN,21.9,40.1,44.6,44.2,41.9,2.7,2.9,7.1,5.9
166,164,Malawi,5.3,NaN,13.2,NaN,17.0,NaN,3.1,NaN,...,NaN,7.7,17.2,22.1,47.1,44.6,3.0,3.1,7.4,6.0
167,165,Zambia,5.0,NaN,11.5,NaN,13.8,NaN,2.7,NaN,...,NaN,34.9,35.0,37.0,45.7,43.4,2.9,3.0,7.4,5.6
168,166,CÃ´te d'Ivoire,6.6,NaN,18.6,NaN,22.3,NaN,3.5,NaN,...,NaN,32.2,45.0,49.8,41.7,37.9,3.2,3.5,7.4,5.1
169,167,Burundi,3.7,NaN,7.9,NaN,11.2,NaN,2.5,NaN,...,NaN,3.2,10.0,13.5,45.1,45.9,2.6,2.4,6.8,6.8
170,168,Congo (Democratic Republic of the),24.0,NaN,58.7,NaN,80.6,NaN,3.0,NaN,...,NaN,29.5,32.1,38.6,47.2,47.8,2.6,2.5,6.5,6.7
171,169,Ethiopia,34.2,NaN,79.0,NaN,101.0,NaN,2.8,NaN,...,NaN,9.5,16.0,19.1,44.5,41.0,2.9,3.1,6.8,5.8
172,170,Chad,4.2,NaN,10.1,NaN,13.4,NaN,3.0,NaN,...,NaN,15.6,25.3,30.5,46.2,45.2,3.0,2.8,6.6,6.5
173,171,Central African Republic,2.1,NaN,4.2,NaN,5.0,NaN,2.4,NaN,...,NaN,32.0,38.0,40.4,42.7,39.9,3.9,3.7,5.7,5.0
174,172,Mozambique,10.6,NaN,20.5,NaN,24.7,NaN,2.2,NaN,...,NaN,8.7,34.5,42.4,44.2,43.2,3.2,3.4,6.6,5.5
175,173,Mali,5.4,NaN,11.6,NaN,15.7,NaN,2.5,NaN,...,NaN,16.2,30.5,36.5,47.7,46.4,3.6,3.0,7.6,6.7
176,174,Niger,4.9,NaN,13.3,NaN,18.8,NaN,3.3,NaN,...,NaN,11.4,16.8,19.3,48.0,47.3,3.1,3.4,8.1,7.4
177,175,Guinea-Bissau,0.7,NaN,1.6,NaN,2.2,NaN,3.0,NaN,...,NaN,16.0,29.6,31.1,47.4,47.9,3.0,2.7,7.1,7.1
178,176,Burkina Faso,6.1,NaN,13.9,NaN,18.5,NaN,2.8,NaN,...,NaN,6.4,18.3,22.8,46.2,44.2,3.1,2.6,7.8,6.4
179,177,Sierra Leone,2.94455,NaN,5.6,NaN,6.9,NaN,2.1,NaN,...,NaN,21.2,40.7,48.2,42.8,42.8,3.3,3.3,6.5,6.5

In [8]:
# CatÃ©gorisation des HDI
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)


df.loc[:, "HDI category"] = np.where(df["HDI rank"] < 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] < 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head()

# Sauvegarder le fichier de travail
destination = "HDRN 2007-2008 Table 05.csv"
df.to_csv(destination, index=False)